#wrap{
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    border-top:3px solid #323232;
  }
#hex{
   
  float:right;
    
    
    
}
#btn{
    background-color: red;
    color: white;
    border:1px solid black;
    border-radius: 8px;
    padding: 5px 15px;
    text-align: justify;
    cursor: pointer;
    font-size:10px;
    letter-spacing: 2px;
}
#heading{
   text-align: left;
}
